.tema {
    background-color: black;
    padding: 1em;
}

.tema__titulo,
.tema__texto {
    background: blue;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tema__titulo {
    font-size: 18px;
    font-weight: 500;
}

.tema__texto {
    font-weight: 300;
    margin: 1em 0;
}